*{
  margin: 0;
}

@font-face {
font-family: "LeagueSpartan";
src: url("css/fonts/LeagueSpartan-Bold.otf");
}

button{
  cursor: pointer;
}

body{
  height:100%;
}

html{
  height:100%;
  width:100%;

  background-color: white;
}

button{
  background-color: #21ce99;
  color:white;
  outline: none;
  border:none;
}

h1{
  font-size:4rem;
}

h1, h2, h3, h4, h5, h6, p{
  font-family:helvetica;
}

p{
  font-size: 1.25rem;
  font-weight: 100;
}
