@font-face {
font-family: "LeagueSpartan";
src: url("css/fonts/LeagueSpartan-Bold.otf");
};


#company-grid-summary{
  display:flex !important;
  justify-content: center;
  background-color: pink;
  border: 2px solid black;
  width:100%;
}

.industry-box-summary{
  display: inline-block;
}

.companysummarybox{
  display:inline-block!important;
  /* border:2px solid black; */
  -webkit-box-shadow: 9px 10px 17px 2px rgba(0,0,0,0.17);
  -moz-box-shadow: 9px 10px 17px 2px rgba(0,0,0,0.17);
  box-shadow: 9px 10px 17px 2px rgba(0,0,0,0.17);
  justify-content: center;
  margin-left: 3%;
  margin-bottom: 3%;
  padding-bottom: 3%;
  width:17rem;
  height:17rem;
  padding: 1rem;

  background-color: #f7f7f7;
}

.selector-header{
  margin-top: 10%;
}

.companysummarybox h2{
  font-family: helvetica;
  font-size: 2.3rem;
}

.summary-box-button{
  padding:0.5rem;
  margin-left: 1%;
  width: 100%;
  font-size: 1rem;
}

.company-graph{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:2px solid black; */
  width:100%;
  height:60%;
}

.summary-box-button{
  width:100%;
  font-size: 1rem;
  margin-left: 1%;
  padding: 2% 0%;
  font-family: helvetica;
}

.selector{
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
  width:100%;
}

.selector-header{
  width= 100%;
  display: flex;
  justify-content: center;
}

#selector{
  -webkit-appearance: none;
  width: 40%;
  left: 30%;
  display: flex;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0px;
  justify-content: center;
  padding: 1%;
  font-family: Arial;
  font-size: 1.5rem;
}

#selector:focus{
  outline: 0;
}

.selector-dropdown{
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

#company-grid-summary{
  padding-top: 8%;
}
